    @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
     :root {
        --fontNova: 'Lato', sans-serif;
        --fontMontse: 'Montserrat', sans-serif;
        --clr: #54d154;
        --fontOpen: 'Open Sans', sans-serif;
    }
    
    div {
        display: block;
    }
    
    header {
        background-image: url("img/main/Bg.jpg");
        background-repeat: no-repeat;
        height: 600px;
        background-size: 100%;
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
    }
    
    header ul li {
        margin-top: 10px;
    }
    
    header nav a {
        font: 400 1em var(--fontNova);
        color: #fff;
        margin-right: 20px;
        transition: border-top 0.3s;
    }
    
    header nav a:hover {
        border-top: 4px solid var(--clr);
    }
    
    .active {
        font: 600 1em var(--fontNova);
        border-top: 4px solid var(--clr);
        color: #fff;
    }
    
    #src {
        border-radius: 25px;
        height: 30px;
        width: 175px;
        margin-top: 5px;
        opacity: 0.7;
        outline: none;
        margin-right: 30px;
        border: none;
    }
    
    #src::placeholder {
        position: relative;
        left: 15px;
        font: 400 1em var(--fontNova);
        color: #111111;
    }
    
    #input i {
        margin: 0;
        color: #111111;
        position: relative;
        right: 60px;
    }
    
    #work h1 {
        font: 700 3.4375em var(--fontMontse);
        color: #fff;
        text-align: center;
        margin-top: 280px;
    }
    
    #work button {
        display: block;
        align-content: center;
        background-color: var(--clr);
        width: 210px;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 25px;
        font: 400 1.275em var(--fontNova);
        color: #fff;
        margin-bottom: 255px;
        margin-top: 40px;
        margin: auto;
        cursor: pointer;
        transition: background-color 0.6s, color 0.6s;
    }
    
    #work button:hover {
        background-color: #fff;
        color: var(--clr);
    }
    
    #iki {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
        height: 580px;
    }
    
    #uc {
        display: flex;
        position: relative;
        bottom: 450px;
    }
    
    #uc h3 {
        font: 600 1.5em var(--fontNova);
        color: #828181;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    #uc p {
        font: 400 1em var(--fontMontse);
        width: 293px;
        height: 89px;
        color: #828181;
        text-align: center;
    }
    
    #info hr {
        width: 42px;
        border: 1.5px solid #828181;
    }
    
    #info h2 {
        margin-top: 42px;
        font: 500 1.25em var(--fontMontse);
        letter-spacing: 4px;
        color: #828181;
        text-align: center;
    }
    
    .blocks {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    .blocks div {
        height: 140px;
        width: 140px;
        background-color: #e1f3e1;
        border-radius: 25px;
    }
    
    #iki {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    
    #iki h3 {
        font: 600 1.5em var(--fontNova);
        color: #828181;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    #info p {
        font: 400 1em var(--fontMontse);
        width: 293px;
        height: 89px;
        color: #828181;
        text-align: center;
    }
    
    #uc button {
        border-radius: 25px;
        background-color: var(--clr);
        border: none;
        font: 600 1.1em var(--fontNova);
        color: #fff;
        height: 35px;
        width: 120px;
        outline: none;
        transition: color 0.5s, background-color 0.5s;
        cursor: pointer;
        margin-top: 15px;
        display: block;
    }
    
    #uc button:hover {
        background-color: #fff;
        color: var(--clr);
        border: 2px solid #54d154;
    }
    
    .paragraphs {
        position: relative;
        right: 75px;
    }
    
    .blocks div img {
        margin-left: 27px;
        margin-top: 30px;
    }
    
    #dord h2 {
        font: 400 1.25em var(--fontMontse);
        letter-spacing: 4px;
        color: #207b20;
        text-align: center;
        padding-top: 40px;
    }
    
    #dord hr {
        width: 55px;
        border: 1px solid #207b20;
    }
    
    #btn1 {
        font: 400 .925em var(--fontMontse);
        color: #fff;
        background-color: #207b20;
        border: none;
        border-radius: 15px 0 0 15px;
        outline: none;
        height: 33px;
        width: 120px;
        cursor: pointer;
    }
    
    #btn2 {
        font: 400 .925em var(--fontMontse);
        color: #207b20;
        background-color: #fff;
        border: 1px solid #207b20;
        outline: none;
        height: 33px;
        width: 90px;
        cursor: pointer;
    }
    
    #btn3 {
        font: 400 .925em var(--fontMontse);
        color: #207b20;
        background-color: #fff;
        border: 1px solid #207b20;
        border-radius: 0 15px 15px 0;
        outline: none;
        height: 33px;
        width: 70px;
        cursor: pointer;
    }
    
    #btns {
        display: flex;
        justify-content: center;
    }
    
    #dord p {
        font: 400 1em var(--fontOpen);
        color: #2b9b2b;
        text-align: center;
        margin-bottom: 60px;
    }
    
    #dord {
        background-color: var(--clr);
        width: 100%;
    }
    
    .container {
        max-width: 920px;
        display: flex;
        justify-content: center;
        margin-left: 30px;
        margin-top: 60px;
        flex-wrap: wrap;
        margin: auto;
        padding-bottom: 60px;
    }
    
    .container img {
        margin-top: 35px;
        margin-left: 15px;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        right: 30px;
        transition: transform 1s;
    }
    
    .container img:hover {
        transform: scale(1.2, 1.2);
    }
    
    .container button {
        margin: auto;
        display: inline-block;
        height: 50px;
        width: 220px;
        background-color: #2b9b2b;
        border: none;
        outline: none;
        border-radius: 25px;
        font: 400 1.275em var(--fontNova);
        color: #fff;
        margin-bottom: 53px;
        margin-top: 40px;
        cursor: pointer;
        transition: background-color 0.6s, color 0.6s;
    }
    
    #bes h2 {
        font: 400 1.25em var(--fontMontse);
        letter-spacing: 4px;
        text-align: center;
        padding-top: 40px;
    }
    
    #bes hr {
        width: 42px;
        border: 1.5px solid #828181;
    }
    
    #bes1 p {
        font: 400 1em var(--fontOpen);
        color: #828181;
        text-align: center;
        margin-bottom: 60px;
    }
    
    #p3 {
        font: 600 1em var(--fontNova);
        color: #444444;
        text-align: center;
        width: 490px;
    }
    
    #bes2 i {
        color: black;
        height: 43px;
        width: 25px;
    }
    
    #bes2 {
        display: flex;
        justify-content: center;
    }
    
    #troll {
        height: 50px;
        width: 50px;
        border: 3px solid #f1f1f1;
        border-radius: 22px;
        background-image: url("img/main/troll.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: translateX(830px);
        display: block;
        position: relative;
        right: 940px;
        margin: auto;
    }
    
    textarea {
        resize: none
    }
    
    #p1 {
        font: 500 1em var(--fontNova);
        color: #444444;
        text-align: center
    }
    
    #p2 {
        font: 400 1em var(--fontNova);
        color: #cccccc;
        text-align: center;
    }
    
    #p1,
    #p2 {
        position: relative;
        bottom: 40px;
    }
    
    #alti1 h2 {
        margin-top: 42px;
        font: 400 1.2em var(--fontMontse);
        letter-spacing: 4px;
        color: #828181;
        text-align: center;
    }
    
    #alti1 hr {
        width: 42px;
        border: 1.5px solid #818181;
    }
    
    #alti1 {
        background-color: #f2f1f1;
    }
    
    #alti1 p {
        font: 300 1em var(--fontOpen);
        color: #b7b3b3;
        text-align: center;
    }
    
    .containerimg {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 920px;
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .container1 {
        flex-basis: 25%;
        flex-grow: 1;
    }
    
    .btn-client {
        display: block;
        align-content: center;
        background-color: #dddcdc;
        width: 210px;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 25px;
        font: 400 1.275em var(--fontNova);
        color: #a59d9d;
        margin: auto;
        margin-bottom: 55px;
        margin-top: 50px;
        cursor: pointer;
    }
    
    .section-team {
        background-color: #54d154;
    }
    
    #meet {
        font: 500 1.2em var(--fontMontse);
        letter-spacing: 4px;
        color: #207b20;
        text-align: center;
        display: block;
        margin: 0 auto 13px;
        text-transform: uppercase;
    }
    
    .section-p {
        font: var(--fontOpen) 1em 300;
        color: #207b20;
        text-align: center;
    }
    
    .team-people {
        width: 920px;
        margin: 0 auto;
    }
    
    .team-people img {
        height: 124px;
        width: 124px;
        border-radius: 62px;
        background-color: #fff;
        margin: 0 auto;
    }
    
    .block-people {
        margin: auto;
        margin-top: 50px;
    }
    
    .vertical-line {
        width: 1px;
        height: 75px;
        background-color: #207b20;
        margin: 10px auto;
    }
    
    .team-names {
        font: 300 1em var(--fontMontse);
        display: block;
        text-align: center;
        color: #fff;
    }
    
    .team-container {
        display: flex;
        justify-content: space-around;
    }
    
    .team-container hr {
        width: 44px;
        height: 2px;
        border: 0;
        background-color: #828181;
    }
    
    #footer {
        background-color: #222222;
    }
    
    .h2text {
        font: 400 1.2em var(--fontMontse);
        letter-spacing: 4px;
        color: white;
        margin-left: 70px;
    }
    
    .line {
        width: 42px;
        border: 1.5px solid #cccccc;
    }
    
    #footer-p1 {
        font: 300 1em var(--fontNova);
        width: 316px;
        height: 253px;
        color: #cccccc;
        text-align: center;
    }
    
    #about {
        width: 316px;
        height: 253px;
        margin-left: 35px;
        padding-bottom: 400px;
        padding-top: 40px;
    }
    
    #seconddiv {
        height: 370px;
        width: 315px;
    }
    
    #div2 {
        height: 65px;
        width: 300px;
    }
    
    .line1 {
        width: 2px;
        height: 77px;
        background-color: #1f7b1f;
    }
    
    #sekkiz p {
        font: 300 1em var(--fontNova);
        color: #828181;
        text-align: center;
    }
    
    #forms input {
        background-color: #444444;
        width: 320px;
        border: none;
        height: 30px;
        outline: none;
        margin-bottom: 4px;
    }
    
    #message {
        background-color: #444444;
        width: 320px;
        height: 135px;
        border: none;
        outline: none;
        margin-bottom: 2px;
    }
    
    #forms {
        height: 235px;
        width: 320px;
        justify-content: flex-end;
    }
    
    #forms button {
        background-color: #2b9b2b;
        color: white;
        width: 320px;
        height: 32px;
        border: none;
        outline: none;
        font: 400 0.825em var(--fontNova);
        cursor: pointer;
    }
    
    #forms input::placeholder {
        font: 300 1em var(--fontNova);
        color: #777777;
        padding-left: 11px;
    }
    
    #forms textarea::placeholder {
        font: 300 1em var(--fontNova);
        color: #777777;
        padding-left: 9px;
    }
    
    #formabout p {
        font: 300 .875em var(--fontNova);
        color: #cccccc;
        text-align: center;
    }
    
    #formaboutdiv {
        width: 245px;
        height: 135px;
        padding-bottom: 25px;
    }
    
    #formabout {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px;
        transform: translateY(-390px);
    }
    
    .block-people img {
        border-radius: 30px;
        width: 110px;
        height: auto;
    }
    
    .block-people {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    
    .photosrecent {
        width: 300px;
        height: 60px;
    }
    
    #recent hr {
        width: 42px;
        border: 1.5px solid #818181;
    }
    
    #recent h2 {
        font: 400 1.2em var(--fontMontse);
        letter-spacing: 4px;
        color: white;
        text-align: center;
    }
    
    #alti {
        background-color: var(--clr);
    }
    
    .container6>p {
        font: 300 1em var(--fontOpen);
        color: #1f7b1f;
        text-align: center;
        margin-top: 10px;
    }
    
    #teams {
        display: flex;
        justify-content: center;
        margin-top: 52px;
        padding-bottom: 63px;
    }
    
    .team {
        margin-left: 51px;
    }
    
    .imgteam {
        width: 124px;
        height: 124px;
        border-radius: 50%;
        background-color: white;
    }
    
    .team h2 {
        font: 1em var(--fontMontse);
        color: #FFF;
        text-align: center;
        margin-top: 15px;
    }
    
    .vl {
        border-left: 2px solid #1f7b1f;
        height: 77px;
        position: relative;
        left: 50%;
        top: 10px;
    }
    
    .contact {
        background-color: #c5e9c5;
        width: 84px;
        height: 28px;
        border-radius: 16px;
        margin: auto;
        margin-top: 10px;
    }
    
    .contact img {
        width: 20px;
        height: 20px;
        margin-top: 4px;
        margin-left: 4px;
    }
    
    #us {
        background-color: #3eba3e;
        padding-bottom: 25px;
    }
    
    #us .us2 {
        display: block;
        margin: auto;
        padding-top: 27px;
        width: 175px;
    }
    
    #us button {
        display: block;
        margin: auto;
        margin-top: 27px;
        cursor: pointer;
        background-color: #53d153;
        width: 175px;
        height: 40px;
        border-radius: 24px;
        border: none;
        outline: none;
        font: 300 1.0875em var(--fontMontse);
        color: #FFF;
        text-align: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25), 0 50px 50px rgba(0, 0, 0, 0.22);
        transition: box-shadow 0.6s;
    }
    
    #us button:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 50px 50px rgba(0, 0, 0, 0.22);
    }
    
    #yeddi {
        background-color: #333333;
        padding-bottom: 32px;
    }
    
    .container7 {
        display: flex;
        padding-top: 31px;
    }
    
    .about {
        display: block;
        margin: auto;
        margin-left: 90px;
    }
    
    .about>h2 {
        font: 400 1em var(--fontMontse);
        letter-spacing: 3px;
        color: #dddddd;
        text-align: center;
    }
    
    .about hr {
        width: 30px;
        height: 2px;
        border: none;
        background-color: #dddddd;
    }
    
    .about p {
        font: .9em var(--fontMontse);
        width: 320px;
        height: 236px;
        color: #cccccc;
        text-align: center;
        margin-top: 24px;
    }
    
    #post {
        margin-top: 18px;
    }
    
    .posts {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 12px;
    }
    
    .posts div {
        height: 53px;
    }
    
    .posts img {
        height: 53px;
        width: 53px;
        border-radius: 2px;
    }
    
    .posts h3 {
        font: 400 .9em var(--fontMontse);
        color: #cccccc;
        text-align: center;
        margin-top: 3px;
        margin-left: 8px;
    }
    
    .posts span {
        font: 400 .75em var(--fontMontse);
        color: #FFF;
        text-align: center;
        padding: 4px 7px;
        border-radius: 2px;
        height: 18px;
        position: relative;
        top: 8px;
        left: 7px;
        background-color: #53d153;
    }
    
    .posts .design {
        background-color: #ffba00;
    }
    
    .posts .photo {
        background-color: #089cea;
    }
    
    .posts .book {
        background-color: #f34c03;
    }
    
    .about h4 {
        font: 400 .8em var(--fontMontse);
        text-align: center;
        margin: auto;
        color: #7f7f7f;
    }
    
    .about .address {
        width: 210px;
    }
    
    #number {
        margin-top: 17px;
    }
    
    .about form {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 23px;
    }
    
    .about form input {
        width: 322px;
        height: 32px;
        margin-top: 2px;
        background-color: #444444;
        border: none;
        outline: none;
        font: 500 .9em var(--fontMontse);
        color: #777777;
        padding-left: 14px;
    }
    
    .about form textarea {
        width: 322px;
        height: 131px;
        margin-top: 2px;
        background-color: #444444;
        border: none;
        outline: none;
        font: 500 .9em var(--fontMontse);
        color: #777777;
        padding-left: 14px;
    }
    
    .about form button {
        width: 322px;
        height: 32px;
        margin-top: 2px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #2b9b2b;
        border-radius: 0 0 5px 5px;
        font: 500 .875em var(--fontMontse);
        color: #FFF;
        transition: all 0.3s ease 0s;
    }
    
    #sekkiz {
        background-color: #212121;
        padding-bottom: 29px;
    }
    
    #sekkiz .cnr8>h2 {
        font: 400 1em var(--fontMono);
        letter-spacing: 3px;
        color: #101010;
        text-align: center;
        padding-top: 26px;
    }
    
    #sekkiz hr {
        width: 30px;
        height: 2px;
        border: none;
        margin-top: 7px;
        background-color: #101010;
    }
    
    .chanels {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
    }
    
    .chanels img {
        margin-left: 80px;
    }
    
    @media only screen and (max-width: 768px) {
        .blocks div {
            display: flex;
            flex-direction: column;
        }
        .blocks {
            display: flex;
            flex-direction: column-reverse;
        }
    }
